{% extends "base.html" %}

{% load static %}

{% block columns_title %}
<th>#</th>
<th>Nome</th>
{% endblock %}

{% block columns_value %}
<td class="text-muted">{{entity.id}}</td>
<td>{{entity.name}}</td>
{% endblock %}

{% block actions %}
<button type="button" class="btn btn-sm btn-outline-info btn-entity-edit" data-id="{{entity.id}}"
    data-name="{{entity.name}}">
    Alterar
</button>
<button type="button" class="btn btn-sm btn-outline-danger btn-entity-delete" data-id="{{entity.id}}">
    Remover
</button>
{% endblock %}