{% load static %}

<!doctype html>
<html lang="pt-BR">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Preço Doce</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/theme.css' %}">
</head>

<body>
    {% csrf_token %}

    {% include "menu.html" %}

    <main class="container my-4">
        {% block content %}
        {% include "title.html" with title=data.title %}
        {% include "search.html" with new_button_label=data.new_button_label %}
        <div class="card">
            <div class="table-responsive">
                <table id="entities-table" class="table align-middle mb-0">
                    <thead>
                        <tr>
                            {% block columns_title %}
                            {% endblock %}
                            <th>Ações</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% if data.entities %}
                        {% for entity in data.entities %}
                        <tr data-id="{{entity.id}}">
                            {% block columns_value %}
                            {% endblock %}
                            <td>
                                {% block actions %}
                                {% endblock %}
                            </td>
                        </tr>
                        {% endfor %}
                        {% endif %}
                    </tbody>
                </table>
            </div>
        </div>

        {% include "pagination.html" with pagination=data.pagination %}

        {% block modals %}
        {% endblock %}

        <div id="alert-container" class="position-fixed top-0 start-50 translate-middle-x p-3" style="z-index:1080;">
        </div>
        {% endblock %}  
    </main>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="{% static 'js/helpers.js' %}"></script>

    {% block modal_scritps %}
    {% endblock %}
</body>

</html>