{% extends "base.html" %}

{% load static %}

{% block columns_title %}
<th>#</th>
<th>Nome</th>
<th>Preço</th>
{% endblock %}

{% block columns_value %}
<td class="text-muted">{{entity.id}}</td>
<td>{{entity.name}}</td>
<td>{{entity.price}}</td>
{% endblock %}

{% block actions %}
<button type="button" class="btn btn-sm btn-outline-info btn-entity-edit" data-id="{{entity.id}}"
    data-name="{{entity.name}}">
    Alterar
</button>
<button type="button" class="btn btn-sm btn-outline-danger btn-entity-delete" data-id="{{entity.id}}"
    data-name="{{entity.name}}">
    Remover
</button>
<button type="button" class="btn btn-sm btn-outline-primary btn-recipe-create" data-id="{{entity.id}}"
    data-name="{{entity.name}}">
    Receita
</button>
{% endblock %}

{% block modals %}
{% include "modals/delete.html"%}
{% include "modals/new.html"%}
{% include "modals/edit.html"%}
{% include "modals/recipe/new.html"%}
{% endblock %}

{% block modal_scritps %}
<script src="{% static 'js/modals/delete.js' %}"></script>
<script src="{% static 'js/modals/new.js' %}"></script>
<script src="{% static 'js/modals/edit.js' %}"></script>
<script src="{% static 'js/modals/recipe/new.js' %}"></script>
{% endblock %}