{% load static %}

<!doctype html>
<html lang="pt-BR">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Preço Doce</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/theme.css' %}">
</head>

<body>
    {% csrf_token %}

    <nav class="navbar navbar-expand-lg navbar-dark sticky-top shadow-sm">
        <div class="container">
            <a class="navbar-brand d-flex align-items-center gap-2"
                href="{% url 'sweet_pricing_v2_recipe:product_recover' %}">
                <span
                    class="bg-white text-primary fw-bold d-inline-flex align-items-center justify-content-center rounded px-2">🧁</span>
                <span class="fw-bold">Preço doce</span>
            </a>

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mainNav">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="mainNav">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item"><a class="nav-link active" aria-current="page"
                            href="{% url 'sweet_pricing_v2_recipe:product_recover' %}">Início</a></li>
                    <li class="nav-item"><a class="nav-link active" aria-current="page" href="#">Compras</a></li>
                    <li class="nav-item"><a class="nav-link active" aria-current="page" href="#">Precificação</a></li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="dropdownOthers" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">Outras opções</a>
                        <ul class="dropdown-menu" aria-labelledby="dropdownOthers">
                            <li><a class="dropdown-item"
                                    href="{% url 'sweet_pricing_v2_recipe:supplier_recover' %}">Fornecedores</a></li>
                            <li><a class="dropdown-item"
                                    href="{% url 'sweet_pricing_v2_recipe:ingredient_recover' %}">Ingredientes</a></li>
                        </ul>
                    </li>
                </ul>

                <div class="ms-lg-3">
                    <button class="btn btn-light fw-bold rounded-circle btn-sm" type="button">OS</button>
                </div>
            </div>
        </div>
    </nav>

    <main class="container my-4">
        <div class="card mb-4">
            <div class="card-body d-flex flex-wrap align-items juntify-center-between gap-2">
                <h1 class="h5 mb-0">Receita: {{ data.product.name }}</h1>
            </div>
        </div>

        {% csrf_token %}

        <div class="d-flex align-items-end gap-3 flex-wrap">
            <div class="mb-3">
                <label class="form-label">Rendimento (porções)</label>
                <input type="number" class="form-control" value="{{data.recipe.yields}}" disabled>
                <div class="invalid-feedback" id="edit-recipe-yields-error"></div>
            </div>

            <div class="mb-3">
                <label class="form-label">Tempo de Preparo (minutos)</label>
                <input type="number" class="form-control" value="{{data.recipe.preparationTimeInMinutes}}" disabled>
                <div class="invalid-feedback" id="edit-recipe-preptime-error"></div>
            </div>

            <div class="mb-3">
                <button class="btn btn-outline-info" id="editBtnSave">
                    Alterar
                </button>
            </div>

            <div class="mb-3">
                <button class="btn btn-primary" id="editBtnSave">
                    Adicionar ingrediente
                </button>
            </div>
        </div>

        <div class="card">
            <div class="table-responsive">
                <table id="entities-table" class="table align-middle mb-0">
                    <thead>
                        <tr>
                            {% block columns_title %}
                            {% endblock %}
                            <th>Ações</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% if data.entities %}
                        {% for entity in data.entities %}
                        <tr data-id="{{entity.id}}">
                            {% block columns_value %}
                            {% endblock %}
                            <td>
                                {% block actions %}
                                {% endblock %}
                            </td>
                        </tr>
                        {% endfor %}
                        {% endif %}
                    </tbody>
                </table>
            </div>
        </div>

        {% if data.pagination %}
        <div class="card-body">
            <nav>
                <ul class="pagination mb-0">
                    {% if data.pagination.has_previous %}
                    <li class="page-item">
                        <a class="page-link"
                            href="?page={{ data.pagination.previous_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">
                            << </a>
                    </li>
                    {% else %}
                    <li class="page-item disabled">
                        <span class="page-link">
                            << </span>
                    </li>
                    {% endif %}

                    {% for num in data.pagination.paginator.page_range %}
                    {% if num == data.pagination.number %}
                    <li class="page-item active"><span class="page-link">{{ num }}</span></li>
                    {% else %}
                    <li class="page-item">
                        <a class="page-link"
                            href="?page={{ num }}{% if request.GET.q %}&q={{ request.GET.q|urlencode }}{% endif %}">
                            {{num}}
                        </a>
                    </li>
                    {% endif %}
                    {% endfor %}

                    {% if data.pagination.has_next %}
                    <li class="page-item">
                        <a class="page-link"
                            href="?page={{ data.pagination.next_page_number }}{% if request.GET.q %} &q={{ request.GET.q }}{% endif %}">
                            >>
                        </a>
                    </li>
                    {% else %}
                    <li class="page-item disabled">
                        <span class="page-link">
                            >>
                        </span>
                    </li>
                    {% endif %}
                </ul>
            </nav>
        </div>
        {% endif %}

        <div class="modal fade confirm-delete-modal" id="confirmDeleteModal" tabindex="-1">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header bg-white">
                        <h5 class="modal-title">Confirma remoção</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                    </div>
                    <div class="modal-body">
                        Confirma a remoção do registro?
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-outline-secondary"
                            data-bs-dismiss="modal">Cancelar</button>
                        <button type="button" class="btn btn-danger confirm-delete-button">Remover</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="editEntityModal" tabindex="-1" aria-labelledby="edtEntityLabel" aria-hidden="true">
            <div class="modal-dialog">
                <form id="editEntityForm" class="modal-content">
                    {% csrf_token %}
                    <input type="hidden" name="id" id="edt-id">
                    <div class="modal-header">
                        <h5 class="modal-title" id="edtEntityLabel">Editar registro</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="mb-3">
                            <label for="edt-name" class="form-label">Nome</label>
                            <input type="text" class="form-control" id="edt-name" name="name" maxlength="100" required>
                            <div class="invalid-feedback" id="edt-error-name"></div>
                        </div>
                        <div class="alert alert-danger d-none" id="edt-error-general"></div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Descartar e
                            fechar</button>
                        <button type="submit" class="btn btn-primary" id="btnEditSave">Salvar</button>
                    </div>
                </form>
            </div>
        </div>

        <div class="modal fade" id="newEntityModal" tabindex="-1" aria-labelledby="newEntityModalLabel"
            aria-hidden="true">
            <div class="modal-dialog">
                <form id="newEntityForm" class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="newEntityModalLabel">Novo registro</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>

                    <div class="modal-body">
                        <div class="mb-3">
                            <label for="new-name" class="form-label">Nome</label>
                            <input type="text" class="form-control" id="new-name" name="name" maxlength="100" required>
                            <div class="invalid-feedback" id="new-name-error"></div>
                        </div>
                        <div class="alert alert-danger d-none" id="new-general-error"></div>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Descartar e
                            fechar</button>
                        <button type="submit" class="btn btn-primary" id="btnSaveNew">Salvar</button>
                    </div>
                </form>
            </div>
        </div>

        <div id="alert-container" class="position-fixed top-0 start-50 translate-middle-x p-3" style="z-index:1080;">
        </div>
    </main>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="{% static 'js/helpers.js' %}"></script>
    <script src="{% static 'js/modals/delete.js' %}"></script>
    <script src="{% static 'js/modals/edit.js' %}"></script>
    <script src="{% static 'js/modals/new.js' %}"></script>
</body>

</html>