{% extends "base.html" %}

{% load static %}

{% block columns_title %}
<th>#</th>
<th>Produto</th>
<th>Rendimento (porções)</th>
<th>Tempo de preparo (em minutos)</th>
{% endblock %}

{% block columns_value %}
<td class="text-muted">{{entity.id}}</td>
<td>{{entity.product.name}}</td>
<td>{{entity.yields}}</td>
<td>{{entity.preparationTimeInMinutes}}</td>
{% endblock %}

{% block actions %}
<button type="button" class="btn btn-sm btn-outline-info btn-entity-edit" 
    data-id="{{entity.id}}" 
    data-product="{{entity.product.id}}"
    data-yields="{{entity.yields}}"
    data-prepTime="{{entity.preparationTimeInMinutes}}">
    Alterar
</button>
<button type="button" class="btn btn-sm btn-outline-danger btn-entity-delete" data-id="{{entity.id}}">
    Remover
</button>
<a href="#" class="btn btn-sm btn-outline-primary" data-id="{{entity.id}}">
    Ingredientes
</a>
{% endblock %}

{% block modals %}
{% include "modals/recipe/new.html"%}
{% include "modals/delete.html"%}
{% include "modals/recipe/edit.html"%}
{% endblock %}

{% block modal_scritps %}
<script src="{% static 'js/modals/recipe/new.js' %}"></script>
<script src="{% static 'js/modals/delete.js' %}"></script>
<script src="{% static 'js/modals/recipe/edit.js' %}"></script>
{% endblock %}